{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="juggling-balls">Back</a>

      <h1 class="heading-large">Tell us about your experience with juggling.
      </h1>

      <form class="form" action="check-your-answers" method="post">

        <div class="form-group">
            <label class="form-label" for="textarea">
            </label>
            <textarea class="form-control form-control-3-4" name="juggling-experience" id="textarea" rows="5">{{data['juggling-experience']}}</textarea>
          </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
